@import '~antd/dist/antd.css';

.container {
    width: 100%;
    align-self: center;
    margin: auto;
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

.grid-column {
    margin-bottom: 20px;
}