@import '~antd/dist/antd.css';

.container {
    width: 100%;
    align-self: center;
    margin: auto;
}

.app-header {
    font-size: calc(10px + 2vmin);
    color:black;
}

.grid-column {
    margin-bottom: 20px;
}